.navbar{
    background-color: #fa9ad571;
    
    .logo{
        color: $secondary;
        font-size: 35px;
        font-weight: bold;}

        &:hover{
            background: $principal;
        }
        .nav-link{
            color: $secondary-2;
            font-size: 20px; 
            &:hover{
                color: $secondary;
            }   
        }
        .d-img{
                filter: brightness(0.6);
        }    
}
.boton{
    background-color: $principal;
    border: $secondary-2;
    color: $secondary;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    &:hover{
        color:$secondary-2;   
    }
}

